<footer id="footer" class="bg-dark text-secondary text-center">
    <div class="container py-4">
        <div class="row py-4">
            <div class="col-md-4">
                <h4>Boots&Brooms</h4>
                <p>Nous fournissons les aventuriers depuis 1492. Nous offrons une large palette de produits, allant de
                    la nourriture aux reliques anciennes en passant par les habits et l'équipement. Visitez notre shop
                    en ligne!</p>
            </div>
            <div class="col-md-4">
                <h4>Nos produits</h4>
                <p>Something</p>
            </div>
            <div class="col-md-4">
                <h4>Contact</h4>
                <p>Something</p>
            </div>
        </div>
    </div>
</footer>
