<footer id="Footer">
    <div class="ui three column stackable grid container center aligned">
        <div class="column">
            <h4>Boots&Brooms</h4>
            <p>Nous fournissons les aventuriers depuis 1492. Nous offrons une large palette de produits, allant de
                la nourriture aux reliques anciennes en passant par les habits et l'équipement. Visitez notre shop
                en ligne!</p>
        </div>
        <div class="column">
            <h4>Nos produits</h4>
            <p>Something</p>
        </div>
        <div class="column">
            <h4>Contact</h4>
            <p>Something</p>
        </div>
    </div>
</footer>
