/*@import "site.variables";*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&display=swap');

body {
    font-family: "Josefin Sans", sans-serif !important;
    background-color: white;
}

#Header {
    min-height: 500px;
}

#NavBar {
    background-color: rgba(255,255,255,0.8);
}

#NavBar .item, #NavBar .item:hover {
    background-color: unset;
}

#Footer {
    background-color: #444444;
}
